@use './assets/styles/fonts';
@use './assets/styles/variables.module';

body {
  margin: 0;
  font-family: variables.$text-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: variables.$code-font; 
}
