@font-face {
  font-family: 'SfPro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/sfpro.woff2') format('woff2');
}
@font-face {
  font-family: 'StAugustin';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/staugustin.woff2') format('woff2');
}

@font-face {
  font-family: 'Diesirae';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../fonts/diesirae.woff2') format('woff2');
}
