$primary-font: 'StAugustin', sans-serif;
$accent-font: 'Diesirae', sans-serif;
$text-font: 'SfPro', sans-serif;
$code-font: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
$primary-color: #c424c9;
$accent-color: #740f31;
// $active-color: #af21b4;
// $hover-color: #9d1ea1;
// $disabled-color: rgba(255,255,255,0.3);
// $input-bg-color: rgba(255,255,255,0.085);
// $layout-bg-color: rgba(255,255,255,0.045);
