$primary-font: 'StAugustin', sans-serif;
$accent-font: 'Diesirae', sans-serif;
$text-font: 'SfPro', sans-serif;
$code-font: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
$primary-color: #d81681;
$accent-color: #740f31;
$background-color: #0f050c;
$surface-color: #220b1a;
$text-color: rgba(255,255,255,0.85);
$error-color: #af0000;
$input-bg-color: rgba(126,16,53,0.15);
$input-bg-focus-color: #420f2a;

:export {
  primaryColor: $primary-color;
  accentColor: $accent-color;
  bgColor: $background-color;
  surfaceColor: $surface-color;
  textColor: $text-color;
  errorColor: $error-color;
  inputBgColor: $input-bg-color;
  inputBgFocusColor: $input-bg-focus-color;
  primaryFont: $primary-font;
  accentFont: $accent-font;
  textFont: $text-font;
  codeFont: $code-font;
}
